form.signup,
form.login {
  margin-top: 50px;
}

body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/Images/onepage_restaurant.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

#btn-form {
 display: inline-block;
}


#h1-head {
  font-family: 'Permanent Marker', cursive;
  margin-top: 0;
}


.jumbotron {
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  height: 180px;
}

.cust-label {
  color: black;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif; 
}

#cust-input{
margin-left: 20px;
}

#lefthead {
  background-color: #010f01;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

#righthead {
  background-color: #595c59;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.para-place-order {
  padding-top: 15px;
}

/* Export to excel button */
#btnEx {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
/* Driver ID */
.driverID {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Form div for Driver ID */
.form-inline {  
  /* display: flex;
  flex-flow: row wrap;
  align-items: center; */
  padding-left: 50px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Form div for Driver ID LABEL*/
.form-inline label {
  margin: 5px 10px 5px 0;
}